/* Colores base */
:root {
  --color-blanco: #FFFFFF;
  --color-celeste: #ADD8E6; /* Celeste claro */
  --color-negro: #000000;
  --color-marron: #8B4513; /* Marrón oscuro */
  --color-beige: Beige; /* Beige suave */
}

/* Estilo general del cuerpo */
body {
  background-color: var(--color-blanco);
  color: var(--color-negro);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-marron);
}